﻿
@model IEnumerable<ForumApp.Models.Comment>


<link rel="stylesheet" type="text/css" href="~/Content/Posts/PostsStyle.css" />


@foreach (var comment in Model)
{
    <div @if (comment.ParentCommentId.HasValue) { @: style="margin-left: 50px;"
         } else { @: style="margin-left: 0px;"
         }>
        <div id="comment-@comment.CommentId">
            <p>@comment.Content</p>

            <p>
                <small>
                    Posted on @comment.DateCreated by @Html.ActionLink(comment.User.UserName, "Index", "Profile", new { id = comment.UserId }, new { @class = "username-link" })
                    <img src="@comment.User.ProfilePictureUrl" alt="Profile Picture" class="profile-picture" style="width:100px;" />
                </small>
            </p>

            <div>
                <button type="button" class="btn btn-sm btn-success" onclick="upvoteComment(@comment.CommentId)">Upvote</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="downvoteComment(@comment.CommentId)">Downvote</button>
                <span>Upvotes: <span id="comment-upvotes-@comment.CommentId">@comment.Upvotes</span></span>
                <span>Downvotes: <span id="comment-downvotes-@comment.CommentId">@comment.Downvotes</span></span>
            </div>
            <br />
            <button type="button" class="btn btn-sm btn-secondary reply-button" data-target="replyForm-@comment.CommentId">Reply</button>
        </div>
        <div id="replyForm-@comment.CommentId" class="reply-form-container">

            @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "reply-form", data_comment_id = comment.CommentId }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("PostId", comment.PostId)
                @Html.Hidden("ParentCommentId", comment.CommentId)

            <div class="form-group">
                @Html.Label("Content", "Reply")
                @Html.TextArea("Content", null, new { @class = "form-control", rows = 2, placeholder = "Write your reply here..." })
                @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
            </div>
                <div class="form-group">
                    <input type="submit" value="Post Reply" class="btn btn-sm btn-primary" />
                    <button type="button" class="btn btn-sm btn-secondary cancel-button" data-target="replyForm-@comment.CommentId">Cancel</button>
                </div>
            }
        </div>

        @if (comment.Replies.Any())
        {
            @Html.Partial("_CommentList", comment.Replies)
        }

    </div>
}


