@model ForumApp.Models.Forum

<!-- Include your custom CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/Forum/ForumDetails.css" />
@Html.Partial("_Breadcrumb", ViewBag.Breadcrumbs as IEnumerable<ForumApp.Models.BreadcrumbItem>)


<div class="forum-details">
    <h2 class="forum-title">@Model.Title</h2>
    <p class="forum-description">@Model.Description</p>

    <h3 class="section-title">Posts</h3>

    @if (Model.Posts.Any(p => p.IsApproved))
    {
        <table id="postsTable" class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Title)</th>
                    <th>Content</th>
                    <th>Date Created</th>
                    <th>Comments</th>
                    <th>User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts.Where(p => p.IsApproved))
                {
                    <tr>
                        <td>@Html.ActionLink(post.Title, "Details", "Posts", new { id = post.PostId }, null)</td>
                        <td>@post.Content</td>
                        <td>@post.DateCreated.ToString("MMMM dd, yyyy")</td>
                        <td>
                            @post.Comments.Count
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                @Html.ActionLink(post.User.UserName, "Index", "Profile", new { id = post.UserId }, new { @class = "username-link text-dark" })
                                <img src="@post.User.ProfilePictureUrl" alt="Profile Picture" class="profile-picture ml-2" style="width:40px; height:40px;" />
                            </div>
                        </td>
                        <td>
                            <button data-post-id="@post.PostId" class="btn btn-sm btn-danger js-delete">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">No posts yet. Be the first to post!</p>
    }

    <div class="my-4">
        @Html.ActionLink("Create New Post", "Create", "Posts", new { forumId = Model.ForumId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to Forum List", "Index", null, new { @class = "btn btn-secondary ml-2" })
    </div>
</div>

@section Scripts {
    <script>
$(document).ready(function () {
    var forumId = '@Model.ForumId';  // Get the forumId from the Razor model

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('postSubmitted') === 'True') {
        bootbox.alert({
            title: "Post Submitted",
            message: "Your post has been successfully submitted!",
        });
    }

    var table = $('#postsTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "@Url.Action("GetPosts", "Forums")",  // Server-side action to load data
            "type": "POST",
            "data": function (d) {
                d.forumId = forumId;  // Pass forumId to the server
            }
        },
        "columns": [
            { "data": "Title", "render": function (data, type, row) {
                return `<a href='/Posts/Details/${row.PostId}'>${data}</a>`;
            }},
            { "data": "Content" },
            { "data": "DateCreated", "render": function (data, type, row) {
                return data;
            }},
            { "data": "CommentsCount" },
            { "data": "User", "render": function (data, type, row) {
                return `
                    <div class="d-flex align-items-center">
                        <a href='/Profile/Index/${data.UserId}' class='username-link text-dark'>${data.UserName}</a>
                        <img src='${data.ProfilePictureUrl}' alt='Profile Picture' class='profile-picture ml-2' style='width:40px; height:40px;' />
                    </div>`;
            }},
            { "data": "PostId", "render": function (data, type, row) {
                return `<button data-post-id="${data}" class="btn btn-sm btn-danger js-delete">
                          Delete
                        </button>`;
            }}
        ]
    });

    // Delete post functionality
    $('#postsTable').on('click', '.js-delete', function () {
        var button = $(this);
        var postId = button.attr("data-post-id");

        console.log("Delete button clicked for post ID:", postId);
        bootbox.confirm("Are you sure you want to delete this post?", function (result) {
            if (result) {
                $.ajax({
                    url: "/Posts/DeletePost/" + postId,
                    method: "GET",
                    success: function () {
                        console.log("Post deleted successfully");
                        table.row(button.parents("tr")).remove().draw();
                    },
                    error: function (err) {
                        console.log(err);
                        bootbox.alert("An error occurred while deleting the post.");
                    }
                });
            }
        });
    });
});


    </script>
}

